body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
}

.header-text {
  font-size: x-large;
  font-weight: bolder;
}
.bg-header-image {
  border-radius: 3%;
}
.anime-genres {
  margin: 0 0 0 90px;
  padding: 0;
}
.image-div, 
 .current-div, 
 .upcoming-div,
 .action-div, 
 .fantasy-div, 
 .romance-div {
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  width: 170px;
  padding: 10px 0 0 0;
  /* border: solid darkgray; */
  border-radius: 8%;
  margin-bottom: 20px;
  margin-left: 15px;
}

.image-results, 
.current-images,
.upcoming-images, 
.action-images, 
.fantasy-images, 
.romance-images {
  height: 250px;
  width: 170px;
  /* padding: 12px; */
  /* transition: transform .4s; */
}

/* .image-results:hover {
  filter: blur(4px);
  transform: scale(1.05);
} */

#search-shows {
  width: 100px;
 }
 
 #seaerch-button {
   width: 70px;
 }

#main-container {
  display: flex;
  justify-content: center;
  background-color: powderblue;
  height: 500px;
  align-items: center;
}

#main-border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: orange;
  height: 400px;
  align-items: center;
  border: purple solid;
}

#main-text {
  width: 300px;
  margin: 25px
}

#main-image {
  margin: 25px;
}

#image-container, 
#currently-airing,
#upcoming-airing, 
#action-genre, 
#fantasy-genre, 
#romance-genre {
  display: flex;
  /* background-color: plum; */
  justify-content: center;
  align-items: center;
}
#search-images, 
#current-images,
#upcoming-images,
#action-images, 
#fantasy-images, 
#romance-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: darkgray; */
  /* border: solid lawngreen; */
}

@media only screen and (max-width: 650px) {
  h2 {
    font-size: large;
  }
  
  .bg-header-image {
    height: 200px; 
  }

  .header-text {
    font-size: large;
    font-weight: bolder;
  }

  .anime-genres {
    text-align: justify;
  }

  #search-shows {
    width: 100px;
   }
   
   #seaerch-button {
     width: 70px;
   }

  #main-border {
    height: 100%;
  }
  #main-image, 
  #main-text {
    margin: 10px;
  }

  #main-text {
    width: 200px;
  }

  .image-div {
    margin: 7px;
  }

}