@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(#000000, #93b4c3); */
  background: black;
  color: #AF4652;
  font-family:'PT Sans', sans-serif;
  font-size: large;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(55, 6, 23, 0.2); */
}

h1 {
  margin-left: 20px;
  font-family: 'Acme', sans-serif;
}

a {
  text-decoration: none;
  color: #AF4652;
  font-size: medium;
}

a:hover {
  color: #E85D04;
  text-decoration: underline;
}

footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  /* background-color: #03071E; */
} 

.header-text {
  font-size: x-large;
  font-weight: bolder;
}
.bg-header-image {
  border-radius: 3%;
}
.anime-genres {
  text-align: center;
  padding: 0;
}
.image-div, 
.current-div, 
.upcoming-div,
.action-div, 
.fantasy-div, 
.romance-div {
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  width: 170px;
  padding: 10px 0 0 0;
  /* border: solid rgb(139, 21, 21); */
  border-radius: 8%;
  margin: 0 7px 20px 7px;
  transition: transform .4s;
}

.image-div:hover, 
.current-div:hover, 
.upcoming-div:hover,
.action-div:hover, 
.fantasy-div:hover, 
.romance-div:hover {
  transform: scale(1.1)
 }

.image-results, 
.current-images,
.upcoming-images, 
.action-images, 
.fantasy-images, 
.romance-images {
  height: 250px;
  width: 170px;
  /* background-color: darkorange; */
}

#anime-search-form {
  margin-right: 20px;
}

#search-shows {
  width: 100px;
 }
 
 #seaerch-button {
   width: 70px;
 }

#main-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #c2ecff, #f8dbff, #c2ecff);
  height: 500px;
  align-items: center;
}

#main-border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3334&q=80");
  height: 400px;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-text {
  width: 300px;
  margin: 25px;
  color: white;
  background: #f4dffd98;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: large;
}

#main-image {
  margin: 25px;
}

#image-container, 
#currently-airing,
#upcoming-genre, 
#action-genre, 
#fantasy-genre, 
#romance-genre {
  display: flex;
  /* background-color: plum; */
  justify-content: center;
  align-items: center;
}
#search-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
} 

#current-images,
#upcoming-images,
#action-images, 
#fantasy-images, 
#romance-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: scroll;
  /* background-color: gray; */
  /* border: solid lawngreen; */
  height: 330px;
  align-items: flex-end;
  width: 90%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#back-up-div {
  text-align: right;
}

#back-up {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: xx-large;
}

@media only screen and (max-width: 800px) {
  header {
    justify-content: space-between;
  }
  
  h1, 
  h2 {
    font-size: large;
  }
  
  .bg-header-image {
    height: 200px; 
  }

  .header-text {
    font-size: large;
    font-weight: bolder;
  }

  .anime-genres {
    margin: 0;
    text-align: center;
  }

  .image-div,
  .current-div, 
  .upcoming-div,
  .action-div, 
  .fantasy-div, 
  .romance-div {
    margin: 7px;
}

  #search-shows {
    width: 90px;
   }
   
   #search-button {
     width: 50px;
   }

  #main-border {
    height: 100%;
  }
  #main-image, 
  #main-text {
    margin: 10px;
  }

  #main-text {
    width: 200px;
  }

  #search-images, 
  #current-images,
  #upcoming-images,
  #action-images, 
  #fantasy-images, 
  #romance-images {
    width: 80vh;
    align-items: center;
} 

  #search-images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: scroll;
}

}